.mainNavDiv {
  text-align: right;
  padding: 10px 0px;
}

.mainNavDiv button,
.mainNavDiv a {
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  font-size: 12px;
  background: rgb(247, 247, 247);
  margin-left: 10px;
  display: inline-block;
}

.mainNavDiv a {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}

.mainNavDiv button:hover,
.mainNavDiv a:hover {
  background: rgb(235, 235, 235);
}

.mainNavDiv button:active,
.mainNavDiv a:active {
  background: rgb(240, 224, 255);
  color: black;
}
