/* @font-face {
  font-family: "NotoSansKR";
  src: url("/public/fonts/NotoSansKR-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "NotoSansKR", sans-serif;
}

.container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  font-family: "NotoSansKR", sans-serif;
}

.header {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
}

.profile-btn {
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.profile-btn:hover {
  border: 2px solid rgb(189, 189, 189);
}
